* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Georgia, serif;
    color: #333;
}

.container {
    width: 700px;
    margin: 0 auto;
}

.main {
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 10px;
    row-gap: 20px;
    align-items: start;
}

header {
    grid-column: 1 / -1;
}

.new-post {
    grid-column: 1 / -1;
}

h1 {
    font-weight: normal;
    font-size: 32px;
}

h1 span {
    color: #d6025e;
}

header {
    border-bottom: 1px solid #333;
    padding-bottom: 4px;
}

.blood-sugar {
    color: #d6025e;
    font-size: 48px;
    justify-self: end;
}

.day {
    font-size: 24px;
}

.notes {
    color: #888;
    font-size: 18px;
    font-family: Verdana, sans-serif;
}

.more-info {
    border-left: 2px solid #eee;
    padding-left: 10px;
}
